@page "/accordion"
@using System.Net.Http.Headers
@using Aether.Client.Services.ViewBudgetService
@inject IViewBudgetService ViewBudgetService
@inject NavigationManager NavigationManager
@inject HttpClient Http
@inject AuthStateProvider AuthProvider
 
<h3>Accordion Budget Data</h3>



<MudTable Items="ViewBudgetService.Budgets" Style ="width: 200%; horiz-align: left" FixedHeader="true" FixedFooter="true" Height="900px">
    <ColGroup>
        <col style="width: 100px" />
        <col style="width: 220px" />
        <col style="width: 200px" />
        <col style="width: 240px" />
        <col style="width: 10%" />
        <col style="width: 210px" />
        <col style="width: 80px" />
        <col style="width: 240px" />
        <col style="width: 200px" />
        <col style="width: 220px" />
        <col style="width: 12%" />
        <col style="width: 200px" />
        <col style="width: 200px" />
        <col style="width: 200px" />
    </ColGroup>
    <HeaderContent>
        <MudTh Style="width: 200px; text-align:center">Division</MudTh>
        <MudTh Style="width: 200px; text-align:center">Gl Account No</MudTh>
        <MudTh Style="width: 200px; text-align:center">Gl Dept No</MudTh>
        <MudTh Style="width: 250px; text-align:center">Sub Account No</MudTh>
        <MudTh Style="width: 250px; text-align:center">Per Amt</MudTh>
        <MudTh Style="width: 200px; text-align:center">Company No</MudTh>
        <MudTh Style="width: 200px; text-align:center">Fiscal Year</MudTh>
        <MudTh Style="width: 220px; text-align:center">Fiscal Month</MudTh>
        <MudTh Style="width: 220px; text-align:center">Cal Month</MudTh>
        <MudTh Style="width: 220px; text-align:center">Revision No</MudTh>
        <MudTh Style="width: 220px; text-align:center">Last Updated</MudTh>
        <MudTh Style="width: 60px;  text-align:center">Updated By</MudTh>
        <MudTh Style="width: 220px; text-align:center">Details</MudTh>
        <MudTh Style="width: 220px; text-align:center">Edit</MudTh>
    </HeaderContent>
   
    <RowTemplate Context="budget">
        <MudTd DataLabel="Division">@budget.Division</MudTd>
        <MudTd DataLabel="GlAccountNo">@budget.GlAccountNo</MudTd>
        <MudTd DataLabel="GlDeptNo"> @budget.GlDeptNo</MudTd>
        <MudTd DataLabel="SubAccountNo">@budget.SubAccountNo</MudTd>
        <MudTd DataLabel="PerAmt">@budget.PerAmt</MudTd>
        <MudTd DataLabel="CompanyNo">@budget.CompanyNo</MudTd>
        <MudTd DataLabel="FiscalYear">@budget.FiscalYear</MudTd>
        <MudTd DataLabel="FiscalMonth">@budget.FiscalMonth</MudTd>
        <MudTd DataLabel="CalMonth">@budget.CalMonth</MudTd>
        <MudTd DataLabel="RevisionNo">@budget.RevisionNo</MudTd>
        <MudTd DataLabel="LastUpdated">@budget.LastUpdated</MudTd>
        <MudTd DataLabel="UpdatedBy">@budget.UpdatedBy</MudTd>
        <MudTd DataLabel="Details">
            <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.ArrowDropDown" Color="Color.Secondary" Size="Size.Small">Details</MudButton>
        </MudTd>
        <MudTd DataLabel="Edit">
            <AuthorizeView Roles="Admin">
                @*<button class="btn btn-primary" @onclick="(() => ShowBudget(context.Id))"><i class="oi oi-pencil"></i></button> *@
                <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Edit" Color="Color.Primary" Size="Size.Small" OnClick="(() => ShowBudget(budgets.Id))"> Edit</MudButton>
            </AuthorizeView>
        </MudTd>

    </RowTemplate>
    <ChildRowContent>
        <MudCard>
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText Typo="Typo.h5">Here below is a comment!</MudText>
                </CardHeaderContent>
            </MudCardHeader>
            <MudCardContent>
                <MudText>This is the comment!</MudText>
                    <MudTextField @bind-Value="comments.UploadComment" Label="Outlined" Variant="Variant.Outlined" Lines="6" />
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" StartIcon="@Icons.Material.Filled.Save" @onclick="SaveComment"></MudButton>
            </MudCardContent>
        </MudCard>
    </ChildRowContent>
    <PagerContent>
        <MudTablePager PageSizeOptions="new int[] { 25, 50, 100 }"/>
    </PagerContent>
</MudTable>

@code {
    // bool _fixed_header = true;
    // bool _fixed_footer = true;
    private BudgetDatum budgets = new();
    private Comment comments = new();
   //TODO Test out using MudDataGrid instead...>.>
    
    private async Task GetAuthState()
    {

        var token = await AuthProvider.GetToken();
        if (!string.IsNullOrWhiteSpace(token))
        {
            Http.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("bearer", token);
        }
    }

    protected override async Task OnInitializedAsync()
    {
        await GetAuthState();
        await ViewBudgetService.GetBudget();
    }

    async Task ShowBudget(int id)
    {
        await GetAuthState();
        NavigationManager.NavigateTo($"edit/{id}");
    }
    // async Task ShowComment(int id)
    // {
    //     await GetAuthState();
    //     await ViewBudgetService.GetComment(id);
    // }  
    async Task SaveComment()
    {
        await GetAuthState();
        await ViewBudgetService.SaveComment(comments);

    }
    async Task CreateBudget()
    {
        await GetAuthState();
        NavigationManager.NavigateTo("/edit");
    }

} 
